/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; /* Navbar sabitlenince içerik üstte kaybolmasın diye boşluk bırak */
}

/* Navbar Sabitleme */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Navbar Mobil Görünümü */
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #343a40;
        padding: 10px;
    }
}

/* Menü Başlığı */
.container.text-center {
    margin-top: 20px;
}

/* Menü Bölümleri */
.menu-item {
    background-color: #ddd;
    padding: 40px;
    border-radius: 10px;
    min-height: 600px; /* Sayfa kaydırmayı zorunlu hale getirmek için */
    margin-bottom: 50px; /* Bölümler arasında boşluk bırak */
}

/* Menü Başlıkları */
.menu-item h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Menü İçeriği */
.menu-item p {
    font-size: 18px;
    line-height: 1.6;
}
